.tikzimage
{
  display: flex;
  margin: auto;
  zoom: 180%;
  & svg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    > g > g > g {
      fill: var(--dark);
      stroke: var(--dark);
    }
  }
}
